.move100right {
  margin-left: 100px;
}

.minWi103 {
  min-width: 103%;
}

.genius-move-by-me {
  margin-bottom: 240px;
}

table.table td a.edit {
  color: #ffc107;
}
table.table td a.delete {
  color: #e34724;
}
