<p class="h3"> Meld je aan </p>
<div class="cardBorder text-white text-opacity-75 text">
  <form>
    <div class="container move30down">
      <div class="row row-cols-2">
        <div class="col">
          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
              <input type="text" id="form3Example1c" class="form-control" />
              <label class="form-label" for="form3Example1c">Jouw naam</label>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
              <input type="email" id="form3Example3c" class="form-control" />
              <label class="form-label" for="form3Example3c">Jouw e-mailadres</label>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="d-flex flex-row align-items-center mb-2">
            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
              <input type="password" id="form3Example4c" class="form-control" />
              <label class="form-label" for="form3Example4c">Wachtwoord</label>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="d-flex flex-row align-items-center mb-2">
            <i class="fas fa-key fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
              <input type="password" id="form3Example4cd" class="form-control" />
              <label class="form-label" for="form3Example4cd">Herhaal jouw wachtwoord</label>
            </div>
          </div>
        </div>
      </div>

      <div class="form-check mb-3">
        <input class="form-check-input mx-2 move5down" type="checkbox" value="" id="checkbox" />
        <label class="form-check-label " for="checkbox">
          Ik ga akkoord met alle verklaringen in de servicevoorwaarden
          <a href="https://policies.google.com/terms?hl=nl">Terms of service</a>
        </label>
      </div>
      <div class=" mx-4 mb-3 mb-lg-4">
        <button type="button" class="btn btn-primary btn-medium minWidthButton" routerLink="/login">
          Aanmelden
        </button>
      </div>
    </div>
  </form>
</div>