<div class="row" *ngIf="meal$ | async as meal">
  <div class="col-sm-10 col-md-12 col-lg-9">
    <div class="d-flex justify-content-between align-items-center">
      <h3 class="card-title">Maaltijd {{meal?.name}}</h3>
      <button *ngIf="!isStudent" type="button" class="btn btn-primary move5down" routerLink="edit">Maaltijd
        bewerken</button>
      <button *ngIf="isStudent" type="button" class="btn btn-primary move5down" routerLink="/meal">Maaltijden</button>
    </div>
    <ul>
      <li>Eigenaar: {{meal?.owner[0].username}}</li>
      <li>Prijs: € {{toDecimal(meal?.price)}}</li>
      <li *ngIf="meal?.deliveryTime">Ophaaltijd: {{meal?.deliveryTime | date:"HH:mm"}}</li>
      <li *ngIf="!meal?.deliveryTime">Ophaaltijd: maaltijd nog niet gereserveerd.</li>
      <li *ngIf="meal?.deliveryDate">Ophaaldatum: {{meal?.deliveryDate | date: "dd-MM-YYYY"}}</li>
      <li *ngIf="!meal?.deliveryDate">Ophaaldatum: maaltijd nog niet gereserveerd.</li>
    </ul>
  </div>
</div>