<div *ngIf="componentExists && meal">
  <h3>Bewerken van {{ meal!.name }}</h3>
</div>
<div *ngIf="!componentExists">
  <h3>Nieuwe maaltijd toevoegen</h3>
</div>
<div class="max-width77">
  <!-- Edit form voor meal model -->
  <form #mealEditForm="ngForm" name="form" (ngSubmit)="onSubmit()" novalidate>
    <div class="row">
      <!-- name -->
      <div class="col-5">
        <div class="form-group">
          <label for="name">Naam</label>
          <div *ngIf="meal">
            <input type="text" id="name" name="name" class="form-control" [(ngModel)]="meal!.name" #name="ngModel"
              minlength="3" required [ngClass]="{
                        'is-invalid': name.invalid && name.touched
                    }" />
            <div *ngIf="name.invalid && name.touched" class="invalid-feedback">
              <div *ngIf="name.errors!['required']">
                Naam is verplicht
              </div>
              <div *ngIf="name.errors!['minlength']">
                De naam moet 3 karakters lang zijn.
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- price -->
      <div class="col-5">
        <div class="form-group">
          <label for="price">Prijs</label>
          <div *ngIf="meal?.price">
            <input type="number" id="price" pattern="^\d*(\.\d{0,2})?$" name="price" class="form-control"
              [(ngModel)]="meal!.price" #price="ngModel" required
              [ngClass]="{'is-invalid': price.invalid && price.touched}" />
            <div *ngIf="price.invalid && price.touched" class="invalid-feedback">
              <div *ngIf="price.errors!['required']">
                Prijs is verplicht
              </div>
              <div *ngIf="price.errors!['pattern']">
                Maximaal 2 decimalen
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-5">
        <!-- deliverytime -->
        <div class="row-5">
          <div class="form-group">
            <label for="deliverytime">Bezorgtijd</label>
            <div *ngIf="meal?.deliveryTime">
              <input type="time" id="deliverytime" name="deliverytime" class="form-control"
                [ngModel]="meal!.deliveryTime | date:'shortTime'" #deliveryTime="ngModel"
                (ngModelChange)="meal!.deliveryTime = $event" required
                [ngClass]="{'is-invalid': deliveryTime.invalid && deliveryTime.touched}" />
              <div *ngIf="deliveryTime.invalid && deliveryTime.touched" class="invalid-feedback">
                <div *ngIf="deliveryTime.errors!['required']">
                  Bezorgtijd is verplicht
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <!-- deliverydate -->
        <div class="row-5">
          <div class="form-group">
            <label for="deliverydate">Bezorgdatum</label>
            <div *ngIf="meal?.deliveryDate">
              <input type="date" id="deliverydate" name="deliverydate" class="form-control"
                [ngModel]="meal!.deliveryDate | date:'yyyy-MM-dd'" (ngModelChange)="meal!.deliveryDate = $event" />
            </div>
          </div>
        </div><br>
        <!-- studentHouse -->
        <div class="row-5">
          <div class="form-group">
            <label for="studentHouse">Studentenhuis</label>
            <div *ngIf="meal">
              <select class="form-select move10left" id="studentHouse" name="studentHouse"
                [(ngModel)]="meal.studentHouseId" #studentHouseId="ngModel" required>
                <option *ngFor="let studentHouse of studentHouses" [value]="studentHouse.id">
                  {{studentHouse.streetAndNmr}}
                </option>
              </select>
              <div *ngIf="studentHouseId.invalid && studentHouseId.touched" class="invalid-feedback">
                <div *ngIf="studentHouseId.errors!['required']">
                  Studentenhuis is verplicht
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Submit en Cancel buttons -->
        <div class="row-5">
          <div *ngIf="!componentExists" class="col">
            <button type="submit" class="btn btn-primary mx-2 my-4" [disabled]="!mealEditForm.valid">
              <div *ngIf="componentExists && meal">
                Maaltijd bewerken
              </div>
              <div *ngIf="!componentExists">
                Maaltijd toevoegen
              </div>
            </button>
            <button type="button" class="btn btn-warning mx-2" routerLink="/meal">Annuleren</button>
          </div>
          <div *ngIf="componentExists && meal" class="col">
            <button type="submit" class="btn btn-primary mx-2 my-4" [disabled]="!mealEditForm.valid">
              <!-- <div *ngIf="componentExists && meal && authService.userMayEdit(meal.ownerId) | async"> -->
              <div *ngIf="componentExists && meal">
                Maaltijd bewerken
              </div>
              <div *ngIf="!componentExists">
                Maaltijd toevoegen
              </div>
            </button>
            <button type="button" class="btn btn-warning mx-2" routerLink="/meal">Annuleren</button>
          </div>
        </div>
      </div>
      <div *ngIf="componentExists" class="col-5">
        <pre class="json">{{ meal | json }}</pre>
      </div>
      <div *ngIf="!componentExists" class="col-5">
        <pre>{{ meal | json }}</pre>
      </div>

    </div><br>
  </form>
</div>