<div *ngIf="componentExists && studentHouse">
  <h3>Bewerken van {{ studentHouse.name }}</h3>
</div>
<div *ngIf="!componentExists">
  <h3>Nieuwe studentenhuis toevoegen</h3>
</div>
<div class="max-width77 mb240">
  <!-- Edit form voor studentHouse model -->
  <form #studentHouseEditForm="ngForm" name="form" (ngSubmit)="onSubmit()" novalidate>
    <div class="row">
      <div class="col">
        <!-- streetAndNmr -->
        <div class="col-8">
          <div class="form-group">
            <label for="streetAndNmr">Straat en huisnummer</label>
            <input type="text" id="streetAndNmr" name="streetAndNmr" class="form-control"
              [(ngModel)]="studentHouse!.streetAndNmr" #streetAndNmr="ngModel" minlength="3" required [ngClass]="{
                          'is-invalid': streetAndNmr.invalid && streetAndNmr.touched
                      }" />
            <div *ngIf="streetAndNmr.invalid && streetAndNmr.touched" class="invalid-feedback">
              <div *ngIf="streetAndNmr.errors!['required']">
                Straat en huisnummer is verplicht
              </div>
              <div *ngIf="streetAndNmr.errors!['minlength']">
                De straat en huisnummer moet 3 karakters lang zijn.
              </div>
            </div>
          </div>
        </div><br>
        <div class="col-8">
          <pre>{{ studentHouse | json }}</pre>
        </div>
      </div>
    </div>
    <br>

    <!-- Submit en Cancel buttons -->
    <div class="row">
      <div class="col">
        <button type="submit" class="btn btn-primary mx-2" [disabled]="!studentHouseEditForm.valid">
          <div *ngIf="componentExists && studentHouse">
            Studentenhuis bewerken
          </div>
          <div *ngIf="!componentExists">
            Studentenhuis toevoegen
          </div>
        </button>
        <button type="button" class="btn btn-warning mx-2" routerLink="/studentHouse">Annuleren</button>
      </div>
    </div>
  </form>
</div>