.move100right {
  margin-left: 100px;
}

.minWi103 {
  min-width: 103%;
}

.genius-move-by-me {
  margin-bottom: 240px;
}

.card {
  width: 95.5%;
  min-height: 158px;
  padding-top: 7px;
}

.card-body {
  padding-top: 0px;
  padding-bottom: 0px;
}

.noBullets {
  list-style-type: none;
  padding: 0;
}
